[includeIf "gitdir:~/Documents/Personal/"]
  path = ~/.config/git/.gitconfig-personal
[includeIf "gitdir:~/Documents/Work/"]
  path = ~/.config/git/.gitconfig-work
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
